@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

$ff-cursiva: 'Dancing Script', cursive;
$fs-title: 50px;
$fs-subtitle: 18px;

$bg-gray: #474b4e;
$bg-white: #fff;

$color-gray: #8b8989;
$color-white: #fff;
$color-black: #000;
$color-gold: #efb810;

$gray-gradient: #474b4eb5;


    